<div class="card-pack">{{ card.pack_name }} #{{ card.position }}.{% if card.card_set_code is defined %} {{ card.card_set_name }} #{{ card.set_position }}{% if card.quantity > 1 %}-{{card.set_position+card.quantity-1}}{% endif %}.{% endif %}</div>
