{% import "AppBundle::macros.html.twig" as macros %}

{% if card.traits %}
<p class="card-traits">{{ card.traits }}</p>
{% endif %}

{% if card.type_code == 'upgrade' or card.type_code == 'event' or card.type_code == 'support' or card.type_code == 'ally' %}
<div class="card-props">
	{% trans %}Cost{% endtrans %}: {{ macros.integer_or_x(card.cost) }}.
</div>
{% endif %}

{% if card.type_code == 'hero' %}
<div class="card-props">
	{% trans %}Thwart{% endtrans %}: {{ macros.integer_or_x(card.thwart) }}.
	{% trans %}Attack{% endtrans %}: {{ macros.integer_or_x(card.attack) }}.
	{% trans %}Defense{% endtrans %}: {{ macros.integer_or_x(card.defense) }}.
</div>
{% if card.health %}
	<div>
	{% trans %}Health{% endtrans %}: {{ macros.integer_or_x(card.health) }}.
	</div>
{% endif %}
{% if card.hand_size %}
	<div>
	{% trans %}Hand Size{% endtrans %}: {{ macros.integer_or_x(card.hand_size) }}.
	</div>
{% endif %}
{% elseif card.type_code == 'minion' %}
	<div>
	{% trans %}Attack{% endtrans %}: {{ macros.integer_or_x(card.attack) }}.
	{% trans %}Health{% endtrans %}: {{ macros.integer_or_x(card.health) }}{% if card.health_per_hero %}<span class="icon icon-per_hero"></span>{% endif %}.
	</div>
	<div>
	{% trans %}Damage{% endtrans %}: {{ macros.integer_or_x(card.enemy_damage) }}.
	{% trans %}Horror{% endtrans %}: {{ macros.integer_or_x(card.enemy_horror) }}.
	</div>
{% else %}	
	{% if card.resource_mental or card.resource_physical or card.resource_energy or card.resource_wild %}
	<div>
	{% trans %}Resources{% endtrans %}:
	{% if card.resource_mental %}{% for i in 1..card.resource_mental %}<span title="Mental" class="icon icon-mental color-mental"></span>{% endfor %}{% endif %}
	{% if card.resource_physical %}{% for i in 1..card.resource_physical %}<span title="Physical" class="icon icon-physical color-physical"></span>{% endfor %}{% endif %}
	{% if card.resource_energy %}{% for i in 1..card.resource_energy %}<span title="Energy" class="icon icon-energy color-energy"></span>{% endfor %}{% endif %}
	{% if card.resource_wild %}{% for i in 1..card.resource_wild %}<span title="Wild" class="icon icon-wild color-wild"></span>{% endfor %}{% endif %}
	</div>
	{% endif %}
	{% if card.health %}
	<div>
	{% trans %}Health{% endtrans %}: {{ macros.integer_or_x(card.health) }}.
	</div>
	{% endif %}
{% endif %}



