<p style="padding: 6px 5px; border-radius: 3px; border: 1px solid silver; background-color: #fff;">
	<button type="button" class="close" aria-hidden="true" onclick="$(this).parent('p').remove()">&times;</button>
	<input type="hidden" name="cards[]" value="{{ code }}"><strong class="fg-{{ faction_code }}">{{ name }}</strong> ({{ pack_name }} #{{ position }})
</p>
