{% import "AppBundle::macros.html.twig" as macros %}

{% if card.traits %}
<p class="card-traits">{{ card.traits }}</p>
{% endif %}

{% if card.type_code == 'upgrade' or card.type_code == 'event' or card.type_code == 'support' or card.type_code == 'ally' %}
<div class="card-props">
	{% trans %}Cost{% endtrans %}: {{ macros.integer_or_x(card.cost) }}.
	{% if card.type_code == 'ally' %}
	<div>
	{% trans %}Health{% endtrans %}: {{ macros.integer_or_x(card.health) }}.
	</div>
	<div>
		{% trans %}Attack{% endtrans %}: {{ macros.integer_or_x(card.attack) }}{% if card.attack_cost %}<span>{% for i in 1..card.attack_cost %}<span title="Cost" class="icon icon-cost color-cost"></span>{% endfor %}</span>{% endif %}.
		{% trans %}Thwart{% endtrans %}: {{ macros.integer_or_x(card.thwart) }}{% if card.thwart_cost %}<span>{% for i in 1..card.thwart_cost %}<span title="Cost" class="icon icon-cost color-cost"></span>{% endfor %}</span>{% endif %}.
	</div>
	{% endif %}
</div>

{% endif %}

{% if card.type_code == 'hero' or card.type_code == 'alter_ego' %}
	<div class="card-props">
		{% if card.type_code == 'hero' %}
			{% trans %}Thwart{% endtrans %}: {{ macros.integer_or_x(card.thwart) }}.
			{% trans %}Attack{% endtrans %}: {{ macros.integer_or_x(card.attack) }}.
			{% trans %}Defense{% endtrans %}: {{ macros.integer_or_x(card.defense) }}.
		{% else %}
			{% trans %}Recover{% endtrans %}: {{ macros.integer_or_x(card.recover) }}.
		{% endif %}
	</div>
	<div>
		{% trans %}Health{% endtrans %}: {{ macros.integer_or_x(card.health) }}. {% trans %}Hand Size{% endtrans %}: {{ macros.integer_or_x(card.hand_size) }}.
	</div>
{% elseif card.type_code == 'minion' or card.type_code == 'villain' %}
	<div>
	{% trans %}Attack{% endtrans %}: {{ macros.integer_or_x(card.attack, card.attack_text) }}.
	{% trans %}Scheme{% endtrans %}: {{ macros.integer_or_x(card.scheme, card.scheme_text) }}.
	{% trans %}Health{% endtrans %}: {{ macros.integer_or_x(card.health) }}{% if card.health_per_hero %}<span class="icon icon-per_hero"></span>{% endif %}.
	</div>
{% elseif card.type_code == 'attachment' %}
	{% if (card.attack is defined and card.attack != 0) or (card.attack_text is defined and card.attack_text) %}
	  <div>{% trans %}Attack{% endtrans %}: {% if card.attack > 0 %}+{% endif %}{{ macros.integer_or_x(card.attack, card.attack_text) }}</div>
	{% endif %}
	{% if (card.scheme is defined and card.scheme != 0) or (card.scheme_text is defined and card.scheme_text) %}
	  <div>{% trans %}Scheme{% endtrans %}: {% if card.scheme > 0 %}+{% endif %}{{ macros.integer_or_x(card.scheme, card.scheme_text) }}</div>
	{% endif %}
{% elseif card.type_code == 'side_scheme' or card.type_code == 'main_scheme' %}
	<div>
	{% trans %}Starting Threat{% endtrans %}: {{ macros.integer_or_x(card.base_threat) }}{% if not card.base_threat_fixed %}<span class="icon icon-per_hero"></span>{% endif %}.
	{% if card.escalation_threat %}
		{% trans %}Escalation Threat{% endtrans %}: {{ macros.integer_or_x(card.escalation_threat) }}{% if not card.escalation_threat_fixed %}<span class="icon icon-per_hero"></span>{% endif %}.
	{% endif %}
	</div>
{% else %}
	{% if card.resource_mental or card.resource_physical or card.resource_energy or card.resource_wild %}
	<div>
	{% trans %}Resource{% endtrans %}:
	{% if card.resource_mental %}{% for i in 1..card.resource_mental %}<span title="Mental" class="icon icon-mental color-mental"></span>{% endfor %}{% endif %}
	{% if card.resource_physical %}{% for i in 1..card.resource_physical %}<span title="Physical" class="icon icon-physical color-physical"></span>{% endfor %}{% endif %}
	{% if card.resource_energy %}{% for i in 1..card.resource_energy %}<span title="Energy" class="icon icon-energy color-energy"></span>{% endfor %}{% endif %}
	{% if card.resource_wild %}{% for i in 1..card.resource_wild %}<span title="Wild" class="icon icon-wild color-wild"></span>{% endfor %}{% endif %}
	</div>
	{% endif %}
{% endif %}



