{% import "AppBundle::macros.html.twig" as macros %}

{% if card.traits %}
<p class="card-traits">{{ card.traits }}</p>
{% endif %}

{% if card.type_code == 'upgrade' or card.type_code == 'event' or card.type_code == 'support' or card.type_code == 'ally' %}
<div class="card-props">
	{% trans %}Cost{% endtrans %}: {{ macros.format_integer(card.cost, null, card.cost_per_hero) }}.
	{% if card.type_code == 'ally' %}
	<div>
	{% trans %}Health{% endtrans %}: {{ macros.format_integer(card.health, card.health_star) }}.
	</div>
	<div>
		{% trans %}Attack{% endtrans %}: {{ macros.format_integer(card.attack, card.attack_star) }}{% if card.attack_cost %}<span>{% for i in 1..card.attack_cost %}<span title="Cost" class="icon icon-cost color-cost"></span>{% endfor %}</span>{% endif %}.
		{% trans %}Thwart{% endtrans %}: {{ macros.format_integer(card.thwart, card.thwart_star) }}{% if card.thwart_cost %}<span>{% for i in 1..card.thwart_cost %}<span title="Cost" class="icon icon-cost color-cost"></span>{% endfor %}</span>{% endif %}.
	</div>
	{% endif %}
</div>
{% endif %}

{% if card.type_code == 'player_side_scheme' %}
<div class="card-props">
  {% trans %}Cost{% endtrans %}: {{ macros.format_integer(card.cost) }}.
	<div>
		{% trans %}Threat{% endtrans %}: {{ macros.format_integer(card.base_threat, null, not card.base_threat_fixed and not card.base_threat_per_group, card.base_threat_per_group) }}.
	</div>
</div>
{% endif %}

{% if card.type_code == 'hero' or card.type_code == 'alter_ego' %}
	<div class="card-props">
		{% if card.type_code == 'hero' %}
			{% trans %}Thwart{% endtrans %}: {{ macros.format_integer(card.thwart, card.thwart_star) }}.
			{% trans %}Attack{% endtrans %}: {{ macros.format_integer(card.attack, card.attack_star) }}.
			{% trans %}Defense{% endtrans %}: {{ macros.format_integer(card.defense, card.defense_star) }}.
		{% else %}
			{% trans %}Recover{% endtrans %}: {{ macros.format_integer(card.recover, card.recover_star) }}.
		{% endif %}
	</div>
	<div>
		{% trans %}Health{% endtrans %}: {{ macros.format_integer(card.health, card.health_star) }}. {% trans %}Hand Size{% endtrans %}: {{ macros.format_integer(card.hand_size) }}.
	</div>
{% elseif card.type_code == 'minion' or card.type_code == 'villain' or card.type_code == 'leader' %}
	<div>
	{% trans %}Attack{% endtrans %}: {{ macros.format_integer(card.attack, card.attack_star) }}.
	{% trans %}Scheme{% endtrans %}: {{ macros.format_integer(card.scheme, card.scheme_star) }}.
	{% trans %}Health{% endtrans %}: {{ macros.format_integer(card.health, card.health_star, card.health_per_hero, card.health_per_group) }}.
	</div>
{% elseif card.type_code == 'attachment' %}
	{% if (card.attack is defined and card.attack != 0) or (card.attack_star) %}
	  <div>{% trans %}Attack{% endtrans %}: {% if card.attack > 0 %}+{% endif %}{{ macros.format_integer(card.attack, card.attack_star) }}</div>
	{% endif %}
	{% if (card.scheme is defined and card.scheme != 0) or (card.scheme_star) %}
	  <div>{% trans %}Scheme{% endtrans %}: {% if card.scheme > 0 %}+{% endif %}{{ macros.format_integer(card.scheme, card.scheme_star) }}</div>
	{% endif %}
{% elseif card.type_code == 'side_scheme' %}
	<div>
	{% trans %}Starting Threat{% endtrans %}: {{ macros.format_integer(card.base_threat, null, not card.base_threat_fixed and not card.base_threat_per_group, card.base_threat_per_group) }}.
	{% if card.escalation_threat %}
		{% trans %}Escalation Threat{% endtrans %}: {{ macros.format_integer(card.escalation_threat, card.escalation_threat_star, not card.escalation_threat_fixed) }}.
	{% endif %}
	</div>
{% elseif card.type_code == 'main_scheme' %}
	{% if card.linked_card is not defined %}
	<div>
	{% trans %}Starting Threat{% endtrans %}: {{ macros.format_integer(card.base_threat, null, not card.base_threat_fixed and not card.base_threat_per_group, card.base_threat_per_group) }}.
	{% if card.escalation_threat %}
		{% trans %}Escalation Threat{% endtrans %}: {{ macros.format_integer(card.escalation_threat, card.escalation_threat_star, not card.escalation_threat_fixed) }}.
	{% endif %}
	</div>
  	{% trans %}Threat{% endtrans %}: {{ macros.format_integer(card.threat, card.threat_star, not card.threat_fixed and not card.threat_per_group, card.threat_per_group) }}.
	{% endif %}
{% else %}
	{% if card.resource_mental or card.resource_physical or card.resource_energy or card.resource_wild %}
	<div>
	{% trans %}Resource{% endtrans %}:
	{% if card.resource_mental %}{% for i in 1..card.resource_mental %}<span title="Mental" class="icon icon-mental color-mental"></span>{% endfor %}{% endif %}
	{% if card.resource_physical %}{% for i in 1..card.resource_physical %}<span title="Physical" class="icon icon-physical color-physical"></span>{% endfor %}{% endif %}
	{% if card.resource_energy %}{% for i in 1..card.resource_energy %}<span title="Energy" class="icon icon-energy color-energy"></span>{% endfor %}{% endif %}
	{% if card.resource_wild %}{% for i in 1..card.resource_wild %}<span title="Wild" class="icon icon-wild color-wild"></span>{% endfor %}{% endif %}
	</div>
	{% endif %}
{% endif %}



