{% extends 'AppBundle:Search:display.html.twig' %}

{% block main %}

<table class="rwd-table table table-striped table-condensed">
<thead>
<tr>
<th>Name</th>
<th>Class</th>
<th title="Cost">C.</th>
<th>Type</th>
<th>Resources</th>
<th>Traits</th>
<th>Pack</th>
<th>Set</th>
</tr>
</thead>
{% for i in 0..cards|length-1 %}
<tr class="{% if i%2==0 %}even{% else %}odd{% endif %}">
   {% set card = cards[i] %}
	<td data-th="Name">
		<span class="icon icon-{{ card.type_code}} fg-{{ card.faction_code }}"></span>
		<a href="{{ card.url }}" class="{% if card.spoiler is defined and not show_spoilers %} spoiler{% endif %} card-tip{% if card.available == false %} card-preview{% endif %}" data-code="{{ card.code }}">
		{{ card.name }}{% if card.type_code == 'villain' or card.type_code == 'leader' %}{% include 'AppBundle:Search:card-stage.html.twig' %}{% endif %}{% if card.subname%}: {{ card.subname }}{% endif %}</a>
	</td>
	<td data-th="Faction" style="width : 100px;" class="fg-{{ card.faction_code }}"><span class="icon-{{card.faction_code}}"></span>{% if card.faction2_code is defined %}<span class="icon-{{card.faction2_code}}"></span> {% else %} {{ card.faction_name }} {% endif %}  </td>
	<td data-th="Cost" style="width : 30px;">{{ card.cost }}</td>
	<td data-th="Type" style="width : 80px;">{{ card.type_name }}</td>
	<td data-th="Stats" style="width : 70px;">
	<span class="{% if card.spoiler is defined and not show_spoilers %} spoiler{% endif %}">
	{% if card.resource_mental %}{% for i in 1..card.resource_mental %}<span title="Mental" class="icon icon-mental color-mental"></span> {% endfor %}{% endif %}
	{% if card.resource_physical %}{% for i in 1..card.resource_physical %}<span title="Physical" class="icon icon-physical color-physical"></span> {% endfor %}{% endif %}
	{% if card.resource_energy %}{% for i in 1..card.resource_energy %}<span title="Energy" class="icon icon-energy color-energy"></span> {% endfor %}{% endif %}
	{% if card.resource_wild %}{% for i in 1..card.resource_wild %}<span title="Wild" class="icon icon-wild color-wild"></span> {% endfor %}{% endif %}
	</span>
	</td>
	<td data-th="Traits" style="width : 170px;"><span class="{% if card.spoiler is defined and not show_spoilers %} spoiler{% endif %}">{{ card.traits }}</span></td>
	<td data-th="Set" style="width : 180px;">{{ card.pack_name }} {{ card.position }}</td>
	<td data-th="Set" style="width : 180px;">{% if card.card_set_code is defined %}<a href="/find?q=m:{{card.card_set_code}}&sort=set&view=list&decks=encounter">{{card.card_set_name}}</a> {% if card.set_position %}{{card.set_position}}{% if card.quantity > 1 %}-{{card.set_position+card.quantity-1}}{% endif %}{% endif %}{% endif %}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
