
<div class="quick-search-decklists">
	<select class="form-control" id="decklist-quick-category" name="category">
		<option {% if category is not defined %} selected="selected"{% endif %} value="">All Decklists</option>
		<option {% if category is defined and category == 'favorites' %} selected="selected"{% endif %} value="favorites">My favorites</option>
		<option {% if category is defined and category == 'mine' %} selected="selected"{% endif %} value="mine">My decklists</option>
	</select>

	<select class="form-control" id="decklist-quick-tag" name="tag">
		<option {% if tag is not defined %} selected="selected"{% endif %} value="">All Tags</option>
		<option {% if tag is defined and tag == 'solo' %} selected="selected"{% endif %} value="solo">Solo</option>
		<option {% if tag is defined and tag == 'multiplayer' %} selected="selected"{% endif %} value="multiplayer">Multiplayer</option>
		<option {% if tag is defined and tag == 'beginner' %} selected="selected"{% endif %} value="beginner">Beginner</option>
		<option {% if tag is defined and tag == 'theme' %} selected="selected"{% endif %} value="theme">Theme</option>
	</select>

	<select class="form-control" id="decklist-quick-aspect" name="aspect">
		<option value="">Any aspect</option>
		{% for faction in factions %}
			<option value="{{ faction.code }}"{% if aspect_code is defined and aspect_code == faction.code %} selected="selected"{% endif %}>{{ faction.name }}</option>
		{% endfor %}
	</select>

	<select class="form-control" id="decklist-quick-hero" name="hero">
		<option value="">Any hero</option>
		{% for hero in heroes %}
		<option value="{{ hero.code }}"{% if hero_code is defined and hero_code == hero.code %} selected="selected"{% endif %}>
			{{ hero.name }} {% if hero.getLinkedTo().name != hero.name %}({{ hero.getLinkedTo().name }}){% endif %}
		</option>
		{% endfor %}
	</select>

	<select class="form-control" id="decklist-quick-collection" name="collection">
		<option {% if collection is not defined%} selected="selected"{% endif %} value="">All Cards</option>
		<option {% if collection is defined and collection == 'mine' %} selected="selected"{% endif %} value="mine">My Collection (must be logged in)</option>
	</select>

	<select class="form-control" id="decklist-quick-sort" name="sort">
		<option {% if sort is not defined%} selected="selected"{% endif %} value=""{{ sort_popularity|default('') }}>Sort by Popularity</option>
		<option {% if sort is defined and sort == 'date' %} selected="selected"{% endif %} value="date"{{ sort_date|default('') }}>Sort by Date</option>
		<option {% if sort is defined and sort == 'activity' %} selected="selected"{% endif %} value="activity"{{ sort_activity|default('') }}>Sort by Activity (Hot topics)</option>
		<option {% if sort is defined and sort == 'likes' %} selected="selected"{% endif %} value="likes"{{ sort_likes|default('') }}>Sort by Number of Likes</option>
		<option {% if sort is defined and sort == 'reputation' %} selected="selected"{% endif %} value="reputation"{{ sort_reputation|default('') }}>Sort by Reputation of Author</option>
	</select>
</div>

