<style>

</style>

<div class="decklists-advanced-search-toggle" id="toggle-advanced-decklist-search">
	<span class="fa fa-caret-down"></span><a>Show advanced search</a>
</div>

<div style="background-image: linear-gradient(100deg, rgba(159, 159, 159, 0.5) 49.5%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 51%, rgba(200, 200, 200, 0.5) 51.5%, rgba(200, 200, 200, 0.5) 100%); border-radius: 5px; padding: 1rem;" class="decklists-advanced-search {% if expanded %}decklists-advanced-search-expanded{% endif %}">
	<div>
		<div>
			{{ cards|default('')|raw }}
			<input type="text" class="form-control" id="card" placeholder="Enter card name">
		</div>
		<div>
			<input type="text"
				class="form-control" id="author" name="author"
				placeholder="Enter author name" value="{{ author }}">
		</div>
		<div>
			<div class="form-group">
				<input type="text"
					class="form-control" id="name" name="name" value="{{ name }}"
					placeholder="Enter text to search in name">
			</div>
		</div>
		<div>
			<button type="submit" class="btn btn-primary btn-block">Search</button>
		</div>
	</div>
	<div>
		<div>
			<p>
				<a data-toggle="collapse" data-target="#allowed_packs">View allowed packs</a> (<span id="packs-on">{{ on }}</span> on, <span id="packs-off">{{ off }}</span> off)
				(<a id="allowed_collection_packs">Select packs from your collection</a>)
			</p>
			<div id="allowed_packs" class="collapse">
				<a href="#" id="select_all"><span class="fa fa-check"></span> all</a>
				/ <a href="#" id="select_none"><span class="fa fa-times"></span> none</a>
				{% for category in allowed %}
					<h4><small>{{ category.label }}</small></h4>
					<div class="decklists-advanced-packs-category">
						{% for pack in category.packs %}
							<div class="decklists-advanced-pack-checkbox">
								<label class="{% if pack.future %}pack-future{% endif %}"><input id="collection-{{ pack.id }}" type="checkbox" name="packs[]" value="{{ pack.id }}" {% if pack.checked %}checked="checked" {% endif %}>{{ pack.label }}</label>
							</div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

