{% extends 'AppBundle::layout.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block javascripts %}
	{% javascripts '@AppBundle/Resources/public/js/ui.decklist_search.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
<script type="text/javascript">
	$(function () {
		var type = {{ type|json_encode|raw }};
		$('time').each(function (index, element) {
			var datetime = moment($(element).attr('datetime'));
			var formatted;
			switch(type) {
			case 'popular':
			case 'recent':
			case 'hottopics':
				formatted = datetime.fromNow();
				break;
			case 'halloffame':
			case 'favorites':
			case 'mine':
			case 'search':
			default:
				formatted = datetime.format('ll');
				break;
			}
			$(element).html(formatted);
			$(element).attr('title', datetime.format('LLLL'));
		});
	});
</script>
{% endblock %}

{% block body %}

<style>

</style>

<div class="main white container" >
	<!--
	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked" style="margin-bottom:2em">
		{% set linkurl = path('decklists_list', {type:'popular'}) %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}">Popular</a></li>
		{% set linkurl = path('decklists_list', {type:'recent'}) %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}">Recent</a></li>
		{% set linkurl = path('decklists_list', {type:'hottopics'}) %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}">Hot topics</a></li>
		{% set linkurl = path('decklists_list', {type:'solo'}) %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}">Solo</a></li>
		{% set linkurl = path('decklists_list', {type:'multiplayer'}) %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}">Multiplayer</a></li>
		{% set linkurl = path('decklists_list', {type:'beginner'}) %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}">Beginner</a></li>
		{% set linkurl = path('decklists_list', {type:'theme'}) %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}">Theme</a></li>
		{% set linkurl = path('decklists_list', {type:'halloffame'}) %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}">Hall of Fame</a></li>
		{% set linkurl = path('decklists_list', {type:'favorites'}) %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}">My favorites</a></li>
		{% set linkurl = path('decklists_list', {type:'mine'}) %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}">My decklists</a></li>
		{% set linkurl = path('decklists_searchform') %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}"><span class="fa fa-search"></span> Search</a></li>
		</ul>
	</div>
	-->

	<div >
		<div>
			<form method="GET" action="{{ path('decklists_list') }}" role="form" id="decklist-search-form">
				<header style="background-image: linear-gradient(100deg, rgba(159, 159, 159, 0.5) 49.5%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 51%, rgba(200, 200, 200, 0.5) 51.5%, rgba(200, 200, 200, 0.5) 100%); border-radius: 5px; padding: 1rem;">
					{{ header|raw }}
				</header>
				<div class="advanced">
					{{ advanced|raw }}
				</div>
			</form>
		</div>
	</div>
	<div>
		{% include 'AppBundle:Default:pagination.html.twig' %}

		<div class="decklists">
			{% for decklist in decklists %}
				{{ macros.decklist_block(decklist) }}
			{% endfor %}
		</div>

		{% include 'AppBundle:Default:pagination.html.twig' %}

	</div>

</div>

{% endblock %}
